*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.apk
/app/release/output-metadata.json
/app/client_secret_275484626544-ole4irq6eqhlli36b70iujpubhsijpgh.apps.googleusercontent.com.json
